<div class="container" ng-controller="OutputController as output">
  <div ng-show="output.session.state == 'scanning'">
    Please wait, {{output.session.state}}. This can take several minutes. <img src="/images/loading.gif" /><br>
    Last updated: {{output.session.last_updated}}
  </div>
  <div ng-show="output.session.state == 'error'">
    An error happened during your analysis: <span class="text-danger">{{output.session.error}}</span><br>
    Please check if your input sequence is valid. If you think this is an error on the CRISPy-web side,
    please contact <a href="mailto:kblin@biosustain.dtu.dk">Kai Blin</a><br>
    Last updated: {{output.session.last_updated}}
  </div>
  <div ng-show="output.session.state == 'done'">
    <h4>Region: {{output.session.name}} ({{output.session.from}} - {{output.session.to}})</h4>
    <div id="cluster"></div>
  </div>
  <div ng-show="output.session.state == 'done'">
    <div ng-hide="output.displayed_grnas.length > 0">
      No results found. <a ng-click="backToOverview()">Go back to overview</a> and change the search area.
    </div>
    <div ng-show="output.updating_display">
      Updating displayed gRNAs, please wait.
    </div>
    <button class="btn btn-primary" type="button" id="show-best" ng-model="output.best"
      btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-change="updateGrnas()">
      <i ng-if="!output.best" class="fa fa-square-o"></i>
      <i ng-if="output.best" class="fa fa-check-square-o"></i>
      CRISPR-BEST mode</button>
    <div class="btn-group" data-toggle="buttons" ng-if="output.best">
      <label class="btn btn-primary" ng-model="output.mode" btn-radio="'CtoT'" ng-change="updateGrnas()">C to T</label>
      <label class="btn btn-primary" ng-model="output.mode" btn-radio="'AtoG'" ng-change="updateGrnas()">A to G</label>
    </div>
    <button type="button" class="btn btn-default" ng-if="output.best && output.mode == 'CtoT'" ng-model="output.stops_only"
      ng-change="updateGrnas()" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
      <i ng-if="!output.stops_only" class="fa fa-square-o"></i>
      <i ng-if="output.stops_only" class="fa fa-check-square-o"></i>
      Show only STOP mutations
    </button>
    <table class="table table-striped table-hover" ng-show="output.displayed_grnas.length > 0">
      <thead>
      <tr>
        <th colspan="6"></th>
        <th ng-if="output.best">CRISPR-BEST</th>
        <th colspan="4">Offtarget hits with mismatches of:</th>
      </tr>
      <tr>
        <th class="text-right">Start</th>
        <th class="text-right">End</th>
        <th class="text-right">Strand</th>
        <th>ORF</th>
        <th>Sequence</th>
        <th>PAM</th>
        <th ng-if="output.best">mutations</th>
        <th>0 bp</th>
        <th>1 bp</th>
        <th>2 bp</th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="rna in output.displayed_grnas" class="svgene-row"
          ng-attr-id="{{rna.id}}-row" ng-click="forDownload(rna.id)"
          ng-class="{selected: output.cart.has(rna.id)}">
        <td class="text-right">{{rna.start}}</td>
        <td class="text-right">{{rna.end}}</td>
        <td class="text-right">{{rna.strand}}</td>
        <td>{{rna.orf}}</td>
        <td style="font-family:monospace">{{rna.sequence}}</td>
        <td style="font-family:monospace">{{rna.pam}}</td>
        <td ng-if="output.best">{{rna.changed_aas[output.mode].join(", ")}}</td>
        <td>{{rna['0bpmm']}}</td>
        <td>{{rna['1bpmm']}}</td>
        <td>{{rna['2bpmm']}}</td>
        <td>
          <span ng-show="output.cart.has(rna.id)">
            <i class="fa fa-trash fa-lg"></i>
          </span>
          <span ng-hide="output.cart.has(rna.id)">
            <i class="fa fa-shopping-cart fa-lg"></i>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
</div>

</div>
