<div class="container" ng-controller="InputController as input">
  <tabset>
  <tab heading="Upload a GenBank file">
    <form name="uploadForm" class="form">
      <div class="input-tab">
        <div class="form-group row">
          <label for="gbk">Select a GenBank file</label>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-default btn-file"> Browse <input ng-model="input.file" ngf-select type="file" id="gbk" required> </span>
            </span>
            <input type="text" class="form-control" value="{{input.file.name}}" readonly>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-primary btn-lg btn-block" ng-disabled="uploadForm.$invalid" ng-click="input.uploadGbk(input.file)">Start</button>
        </div>
        <div class="form-group row" ng-show="input.error">
          <p class="text-danger">An error occurred: {{input.error}}<br>
          Please try again or contact the CRISPy-web maintainers
          </p>
        </div>
      </div>
    </form>
  </tab>
  <tab heading="Get sequence from antiSMASH">
    <form name="inputForm" class="form" novalidate>
      <div class="input-tab">
        <div class="form-group row">
          <label for="asID">Enter antiSMASH job ID</label>
          <input type="text" class="form-control" id="asID" name="asID"
                 placeholder="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee" ng-model="input.asID" required
                 ng-pattern="/^([0-F]{8}-[0-F]{4}-[0-F]{4}-[0-F]{4}-[0-F]{12}|example)$/i">
                 <i class="form-control-feedback fa fa-close" ng-show="inputForm.$error.asID.pattern"></i>
        </div>
        <div class="row">
          <button class="btn btn-primary btn-lg btn-block" ng-disabled="inputForm.$invalid" ng-click="input.submitIdForm()">Start</button>
        </div>
        <div class="form-group row" ng-show="input.error">
          <p class="text-danger">An error occurred: {{input.error}}<br>
          Please try again or contact the CRISPy-web maintainers
          </p>
        </div>
      </div>
    </form>
  </tab>
  </tabset>
</div>
<div class="news">
  <div class="container">
    <h4>News</h4>
    <ul class="list-group">
      <li class="list-group-item"><span class="news-date">2016-05-02</span>Version 1.1.0 of CRISPy-web released.<a class="readmore" href="#/news">Read more...</a></li>
    </ul>
  </div>
</div>
